*
{
padding: 0;



}



.mainpage
{
width: 1200;
height: 1000px; 
display: grid;
grid-template-columns: 1fr 2fr 2fr 1fr;
position: relative;

}


.side1
{
background-color: #A22048;
border-radius: 10px;

}



.side2
{
background-color:#D6A8BD;
border-radius: 10px;
    
}




.side3
{

background-color: #B47095;
border-radius: 10px;
}

.side4
{
background-color: #8F2460;
border-radius: 10px;
}

.run
{

grid-column: 2/3;
background-color:#CC8399;
position: absolute;
left: 100px;
top: 60px;
width: 750px;
height:600px;
border: 9px;
border-radius: 25px;
border-style: solid;
border-color: #75467B;

}
.new
{

position: absolute;
left: 250px;
top:350px;

}
h1
{
padding-left:20px ;
}

h2
{

padding-left:220px;
padding-top: 20px;


}
.run ul
{
padding-left:  20px; ;
font-style: normal;

}

.secound ,#winningScore
{  
height:35px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(57, 56, 56);
width:200px ;
text-decoration: none;
border-radius: 20px;
border: 0px;
opacity: .7;

}



a .secound 
{
    
 text-decoration: none;
cursor: pointer;
}


.secound:hover
{

opacity: 1;
background-color: #A22048;

}